.contact__div {
  width: 23rem;
  position: absolute;
  left: 65%;
  margin-top: 0.65rem;
  z-index: 3;
}
@media (max-width: 1024px) {
  .contact__div {
    width: 22rem;
    left: 60%;
  }

}

@media (max-width: 912px) {
  .contact__div {
    left: 55%;
  }

}

@media (max-width: 768px) {
  .contact__div {
    width: 20rem;
    left: 50%;
  }

}

@media (max-width: 425px) {
  .contact__div {
    left: 20%;
  }
}