.exhibition__buttoncont {
  display: none;
}

@media (max-width: 525px) {
  .find__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }
  
  .exhibition__buttoncont {
    display: flex;
    align-items: center;
  }
}