.find__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-titulo);
}

.find__sortedby {
  display: flex;
}

@media (max-width: 768px) {
  .find__header {
    font-size: 0.85rem;
  }
}

@media (max-width: 525px) {
  .find__header {
    font-size: 0.75rem;
    color: var(--color-paragraph);
    margin-bottom: 0.75rem;
  }
}