.footer__branch {
  display: flex;
  flex-direction: column;
}

.branch__slogan {
  color: var(--color-paragraph);
}

@media (max-width: 525px) {
  .footer__branch {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
  }

  .branch__slogan {
    display: none;
  }
}
