.footer__column {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.footer__title {
  color: var(--color-titulo);
  margin-bottom: 1rem;
  font-weight: 700;
}

.footer__link {
  color: var(--color-paragraph);
  text-decoration: none;
  margin-bottom: 1rem;
}

@media (max-width: 525px) {
  .footer__title {
    margin-bottom: 0.75rem;
  }
  
  .footer__link {
    margin-bottom: 0.75rem;
  }
}