.footer__copyright {
  display: flex;
  justify-content: space-between;
  color: var(--color-paragraph);
}

@media (max-width: 524px) {
  .footer__copyright {
    padding-bottom: 2%;
  }

  .copyright__paragraph {
    font-size: 0.55rem;
  }

}