.footer__container {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--color-paragraph);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    flex-wrap: wrap;
    height: 330px;
  
  }

}

@media (max-width: 524px) {
  .footer__container {
    height: auto;
    flex-direction: row;
  
  }

}