.diferenciales {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 2rem;
  height: 125px;
}

@media (max-width: 425px) {
  .diferenciales {
    flex-wrap: wrap;
  }
}