.footer {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  padding: 3rem;
  position: relative;
  top: 31rem;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 525px) {
  .footer {
    padding: 3%;
  }
}