.product__img {
  height: 250px;
  width: 250px;
}

@media (max-width: 1075px) {
  .product__img {
    height: 200px;
    width: 200px;
  }

}

@media (max-width: 768px) {
  .product__img {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 1024px) {
  .product__img {
    width: 150px;
    height: 150px;
  }

}