.product__subtitles {
  padding: 0.25rem 0.75rem;
  display: flex;
  justify-content: space-between;
  color: var(--color-paragraph);
  font-size: 0.75rem;
}

@media (max-width: 1024px) {
  .product__subtitles {
    font-size: 0.65rem;
  }
}

@media (max-width: 768px) {
  .product__subtitles {
    font-size: 0.55rem;
  }
}

@media (max-width: 525px) {
  .product__subtitles {
    font-size: 0.6rem;
  }
}