.user__img {
  border-radius: 100%;
  max-width: 60px;
}

@media (max-width: 768px) {
  .user__img {
    max-width: 35px;
    margin-right: 0.5rem;
  }
}

@media (max-width: 525px) {
  .user__img {
    max-width: 30px;
    margin-right: 0.5rem;
  }
}