.user__description {
  font-weight: 500;
  color: #9f9f9f;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .user__description {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 525px) {
  .user__description {
    font-size: 0.65rem;
    margin-bottom: 1.25rem;
  }
}