.applied__condition {
  background-color: #fafafa;
  border-radius: 10px;
  height: 1.5rem;
  border: 1px solid var(--color-paragraph);
  display: flex;
  align-items: center;
  padding: 2px;
}

@media (max-width: 525px) {
  .applied__condition{
    height: 1.25rem;
    margin: 0.33rem 0;
  }
}