.applied__header {
  color: var(--color-titulo);
  font-weight: 700;
  font-size: 1rem;
}

.applied__filter {
  margin: 0 0.25rem;
}

.cancel__icon {
  margin-right: 0.5rem;
}

.applied__argument {
  margin-left: 6px
}

@media (max-width: 768px) {
  .applied__header {
    font-size: 0.85rem;
  }
}

@media (max-width: 525px) {
  .applied__argument {
    font-size: 0.8rem;
    margin-right: 2px;

  }
}