.exhibition__paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: light;
  margin: 1rem 0;
  color: var(--color-paragraph);
}

@media (max-width: 1024px) {
  .exhibition__paragraph {
    font-size: 1.33rem;
    margin: 1.5rem 0;
  }
}

@media (max-width: 768px) {
  .exhibition__paragraph {
    font-size: 1.25rem;
    margin: 1.5rem 0;
  }
}

@media (max-width: 525px) {
  .exhibition__paragraph {
    font-size: 0.9rem;
  }
}