.exhibition__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 5%;
}

@media (max-width: 425px) {
  .exhibition__description {
    margin-bottom: 1.75rem;
  }
}