.contact__logo {
  display: flex;
  align-items: center;
  margin: 2rem;
  position: relative;
  right: 24%;
}

.contact__letras {
  padding-left: 0.25rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.contact__img {
  max-height: 2rem;
}