.diferenciales__enum {
  color: #b4b4b4;
  font-size: 1.66rem;
  padding-right: 0.5rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .diferenciales__enum {
    font-size: 1.25rem;
  }
}

@media (max-width: 525px) {
  .diferenciales__enum {
    font-size: 0.9rem;
  }
}