.diferenciales__item {
  display: flex;
}

@media (max-width: 1024px) {
  .diferenciales__item {
    display: inline;
    width: 10rem;
  }
}

@media (max-width: 768px) {
  .diferenciales__item {
    width: 8rem;
  }
}

@media (max-width: 425px) {
  .diferenciales__item {
    margin: 0 2%;
  }
}

