.diferenciales__title {
  font-size: 1.66rem;
  color: #333333;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .diferenciales__title {
    font-size: 1.15rem;
  }
}

@media (max-width: 425px) {
  .diferenciales__title {
    font-size: 0.75rem;
  }
}
